*~
*.swp
*.swo
*.bak
*.log

.DS_Store
Thumbs.db
desktop.ini

.tmp/
dist/

node_modules*
npm-debug.log

bower_components/

.idea/
typings/

allure-results/
coverage/
tslint-report/
eslint_checkstyle_report*
TESTS-PhantomJS*
 
.ackrc
.project
