# vim: set filetype=gitconfig : ~
# vim: set shiftwidth=4 : ~
# vim: set softtabstop=0 : ~
# vim: set noexpandtab : ~

[core]
	editor = vim

	# we cant use '$XGD_CONFIG_HOME' instead of '~/.config/'
	# because of http://stackoverflow.com/a/11262153
	# its turned out that 
	# > Its default value is $XDG_CONFIG_HOME/git/ignore
	# (https://goo.gl/bKr4Yr) so this is commented :)
	excludesfile = ~/.gitignore

	# http://goo.gl/Vug01E
	#eol = lf
	autocrlf = input
	safecrlf = true
	whitespace = space-before-tab,-blank-at-eof
	filemode = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

[apply]
	whitespace = fix

[branch]
	autosetupmerge = true

[commit]
	template = ~/.gitcommit-message-template

[diff]
	tool = vimdiff
	renameLimit = 0
	renames = copies
	mnemonicprefix = true

[difftool]
	prompt = false

[difftool "vimdiff"]
	cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"

[log]
	date = local

[merge]
	renameLimit = 0
	conflictstyle = merge
	tool = vimdiff

[mergetool]
	prompt = false
	keepBackup = false

[push]
	default = current
	followTags = true

[rerere]
	enabled = 1

[include]
	path = .gitaliases
	path = .gitcolors

	path = .gituser

[advice]
	pushNonFastForward = false
