# NOTE: this file is used/self-duplicated in every vcsh repo
# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuzyak <zvasylvv@gmail.com>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuziak <ZuBB@users.noreply.github.com>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuzyak <ZuBB@users.noreply.github.com>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuzyak <vv@Vasyls-MacBook-Pro.local>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuzyak <vzuzyak@cogniance.com>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuzyak <vzuzyak@mbpro-big.local>
Vasyl Zuziak <zvasylvv@gmail.com> Vasyl Zuziak <vasyl.zuziak@tietoevry.com>
Vasyl Zuziak <zvasylvv@gmail.com> v.zuziak <user@VZUZIAK-MAC.local>
